<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Merriweather:300italic,700,300,700italic|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div id="html-wrapper">
        <div id="html">
            <div class="site-wrapper">
              <header class="main-header detail-page image-bg {{#if @blog.cover}}has-cover" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
                  <!-- <a href="{{@blog.url}}" class="go-home-page" style="background-image:url({{#if @blog.logo}}{{@blog.logo}}{{else}}{{asset "/assets/go-home.png"}}{{/if}}")></a> -->

                  <h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                  <h2 class="page-description">{{@blog.description}}</h2>
                  {{navigation}}
              </header>

              <div class="outer">
                <aside class="profile">
                  <div class="profile-inner">
                    <div class="base-info profile-block">

                    </div>
                    <div class="base-info profile-block">

                    </div>
                  </div>
                </aside>

                {{! Everything else gets inserted here }}
                {{{body}}}

                {{> "sidebar"}}

              </div>
            </div>

            <button class="go-to-top"></button>

            <footer class="site-footer">
                <p class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | <a href="{{@blog.url}}/rss">RSS Feed</a></p>
                <p class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></p>
                <!-- <p><a href="https://github.com/serenader2014/decent">decent Theme</a> made by <a href="https://github.com/serenader2014">serenader</a> with <span class="heart">♥</span></p> -->
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="{{asset "js/bundle.min.js"}}"></script>
    {{ghost_foot}}

    {{! Ghost outputs important scripts and data with this tag }}
</body>
</html>
